<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"
         xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/security	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.roag.security"/>
    <context:component-scan base-package="org.roag.web"/>
    <context:property-placeholder location="WEB-INF/spring/web-context.properties"/>

    <bean name="passwordEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <bean id="userDetailsService" class="org.roag.security.SpringUserDetailsServiceImpl"/>

    <bean id="authenticationSuccessHandler" class="org.roag.security.UrlAuthenticationSuccessHandler"/>

    <security:http realm="" use-expressions="false">
        <security:intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/index.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/contact_me.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/js/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/css/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/img/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/vendor/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/view/register" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/view/admin/*" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/jsp/**" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/view/*" access="ROLE_USER"/>
        <security:intercept-url pattern="/view/rest/profile/**" access="ROLE_USER, ROLE_ADMIN"/>
        <security:intercept-url pattern="/view/rest/admin/**" access="ROLE_ADMIN"/>

        <security:form-login login-page="/login.jsp"
                    authentication-failure-url="/login.jsp?login_error=1"
                             username-parameter="username" password-parameter="password"
                             authentication-success-handler-ref="authenticationSuccessHandler"/>
        <security:http-basic/>
        <security:logout logout-success-url="/login.jsp"/>
        <security:remember-me />
        <security:headers/>
        <security:csrf/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDetailsService">
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <security:global-method-security secured-annotations="enabled"/>

</beans>
